src/homework-1/*
!src/homework-1/*.tex
!src/homework-1/*.bib

src/homework-2/.venv
src/homework-2/__pycache__
src/homework-2/homework-2.pdf

src/homework-3/.venv
src/homework-3/__pycache__
src/homework-3/homework-3.pdf


src/research-paper/old/*/*
!src/research-paper/old/*/figures/
!src/research-paper/old/*/*.tex
!src/research-paper/old/*/*.bib

src/research-paper/latex/*
!src/research-paper/latex/figures/
!src/research-paper/latex/*.tex
!src/research-paper/latex/*.bib

src/research-paper/eeg-data-analysis/.venv
src/research-paper/eeg-data-analysis/__pycache__
src/research-paper/eeg-data-analysis/*.pkl

src/research-paper/stroop/metrics.csv

src/research-paper/typing/metrics.csv
src/research-paper/typing/local_word_cache.txt


src/testing/.venv
src/testing/__pycache__
